@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

/* TAGS */

textarea {
	resize: vertical;	
}
h1,
h2,
h3 {
	font-family: "Roboto", sans-serif;	
}

/* CLASSES */

* {
	-moz-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.full {
	width: 100%;
	max-width: 100%;
}
.fit-to-container {
	max-width: 62.5em;
	margin-left: auto;
	margin-right: auto;
}
.rounded {
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-o-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}

/* MAIN PAGE */
#hero-container {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: center center;	
}
#about-container {
	background-color: #FC0;
	padding-top: 30px;	
	padding-bottom: 30px;
}
#hero-unit {
	text-align: center;	
	padding: 100px 0;
}
	#hero-unit h1 {
		color: #fff;	
	}
	#hero-unit input,
	#hero-unit #search-button {
		font-size: 2em;
		opacity: 0.3;
		transition: opacity 0.25s ease-in-out;
	}
		#hero-unit input:hover,
		#hero-unit input:focus,
		#hero-unit #search-button:hover {
			opacity: 1;
		}
	#hero-unit #search-button {
		opacity: 0.4;
		line-height: 2em;
		text-indent: -9999px;
		background-image: url(../img/search.png);
		background-repeat: no-repeat;
		background-position: center center;
		border: none !important;
	}

/* SEARCH RESULTS PAGE */
#top-search {
	
}
	#top-search form { }
		#top-search form * {
			display: inline-block;	
		}
		#top-search input {
			width: 500px;
			max-width: 100%;	
		}
		
.result {}
	.result .result-table {
			
	}
		.result-table td:last-child {
			width: 100%;	
		}
		
/* SYNOPSIS PAGE */
#movie-info {
	width: 100%;
	border: none;
}
	#movie-info td {
		vertical-align: top;	
	}

/* INPUT PAGE */
#plot-container {
	margin-top: 20px;
}
#syn-form { }
	#syn-form #movie-title {
		width: 400px;
		max-width: 100%;
	}
	#syn-form #movie-start {
		width: 100px;	
	}
	#syn-form #movie-container {
		background-color: #f3f3f3;
		padding-top: 14px;
	}
	#syn-form .submit-synopsis {
		float: right;	
	}
	
/* FOOTER */
#footer {
	border-top: 1px solid #eee;
	font-size: 90%;
	padding-top: 10px;
}