.full {
	width: 100%;
	max-width: 100%;
}
.fit-to-container {
	max-width: 62.5em;
	margin-left: auto;
	margin-right: auto;
}
.rounded {
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-o-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;	
}

/* MAIN PAGE */
#hero-container {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: center center;	
}
#hero-unit {
	text-align: center;	
	padding: 100px 0;
}
	#hero-unit h1 {
		color: #fff;	
	}
	#hero-unit form {
	}
		#hero-unit form input {
			width: 500px;
			max-width: 100%;
			font-size: 2em;
			opacity: 0.2;
		}
		#hero-unit form * {
			display: inline-block;	
		}

/* SEARCH RESULTS PAGE */
#top-search {
	
}
	#top-search form { }
		#top-search form * {
			display: inline-block;	
		}
		#top-search input {
			width: 500px;
			max-width: 100%;	
		}
		
.result {}
	.result .result-table {
			
	}
		.result-table td:last-child {
			width: 100%;	
		}
		
/* SYNOPSIS PAGE */

/* INPUT PAGE */
#syn-form { }
	#syn-form #movie-title {
		width: 400px;
		max-width: 100%;
	}
	#syn-form #movie-start {
		width: 100px;	
	}